.hero-center {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.hero-subtext {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    color: #fba117 !important;
}

.order-button {
    color: #0f172b !important;
    font-weight: 800;
}

.text-red {
    color: #ce4d4c;
}
